@media only screen and (max-width: 320px){
    .background{
        display: none;
    }

    .tabbackground{
        display: none;
        }

    .phonebackground{
        display: block;
    }

    body{
        margin: 0;
        padding:0;
        margin-right: auto;
        margin-left: auto;
        width: 320px;
        height:1148px;
    }
    
    .phonebackground{
        width: 320px;
        height:1148px;
        background-color: #F2E9DC;
    }
    
    p{
        margin:0;
        padding:0;
    }

    .AboutUs{
        padding:0;
        margin-top: 24px;
        font-family: 'Segoe UI';
        font-size:25px;
        color: #595959;
        display: flex;
        justify-content: center;
    }
    
    .AUContent{
        height: 92px;
        width: 268px;
        margin-top: 25px;
        margin-left: 26px;
        font-family: 'Segoe UI';
        font-size:8px;
        line-height:16px;
        color: #808F85;
        text-align:center;
    }

    .line{
        height: 0px;
        width:49px;
        margin-top: 7px;
        margin-left: 135.5px; 
        border: 1px solid #808F85;
    }

    .ABNws{
        margin-top: 53px;
        display: flex;
    }
    
    .circle{
        margin-left: 38px;
    }
    
    .rightcircle{
        margin-left: 18px;
    }
    
    .ABContent{
        display: flex;
    
    }
    
    .ABYuki{
        margin-top: 53px;
        display: flex;
    }
    
    .ABYyis{
        margin-top: 53px;
        display: flex;
    }
    
    .rightIntroduction{
        display: flex;
        flex-direction: column;
    }
        
    .leftIntroduction{
        display: flex;
        flex-direction: column;
    }

    .nwsIntroduction{
        height: 38px;
        width: 100px;
        padding-top: 0;
        padding-left: 67px;
        display: flex;
        flex-direction: column;
    }
    
    .YKIntroduction{
        height: 31px;
        width: 100px;
        padding-top: 0;
        padding-left:90px;
        display: flex;
        flex-direction: column;
    }
    
    .yvIntroduction{
        height: 30.1px;
        width: 100px;
        padding-top: 0;
        padding-left: 70.6px;
        display: flex;
        flex-direction: column;
    }

    .ABName{
        font-family: 'Segoe UI';
        font-size:17px;
        color: #595959;
    }
    
    .nwscontentline{
        height: 0px;
        width:33.1px;
        border: 1px solid #91C499;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    .yukicontentline{
        height: 0px;
        width:33.1px;
        border: 1px solid #91C499;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    .yviscontentline{
        height: 0px;
        width:33.1px;
        border: 1px solid #91C499;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    .Country{
        margin-top: 1px;
        margin-left: -65px;
        font-family: 'Segoe UI';
        font-size:1px;
        color: #595959;
        opacity: 59%;
    }
    
    .rightIntroductionContent{
        padding-top: 6.2px;
        padding-left: 8px;
        height: 30px;
        width:155px;
        font-family: 'Segoe UI';
        font-size: 6px;
        color: #808F85;
        line-height:8px;
        text-align:center;
    }
    
    .leftIntroductionContent{
        padding-top: 7px;
        padding-left: 34px;
        height: 29px;
        width:155px;
        font-family: 'Segoe UI';
        font-size: 6px;
        color: #808F85;
        line-height:8px;
        text-align:center;
    }
    
    .Skill{
        margin-top: 22px;
        margin-left: 10px;
    }
    
    .top{
        margin-top: 45.5px;
        margin-left: 283px;
    }
    
    .bottom{
        margin-top: 13px;
        height: 43px;
        width: 320px;
        background-color: #595959;
    }
    
    .bottomcontent{
        padding-top: 11px;
        padding-left: 10px;
        font-family: 'Segoe UI';
        color: #FFFFFF;
        font-size: 10px;
    }
}