@media only screen and (min-width: 321px) and (max-width: 768px){
    .background{
        display: none;
    }

    .tabbackground{
        display: block;
        }

    .phonebackground{
        display: none;
    }

    body{
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        width: 768px;
        height:2356px;
    }
    
    .tabbackground{
        width: 768px;
        height:2356px;
        background-color: #F2E9DC;
    }
        
    p{
        margin:0;
        padding:0;
    }
    
    .logo{
        padding-top:34px;
        padding-left: 170px;
    }
    
    .menu{
        display:flex;
        padding-top: 34px;
        margin-left: 82px;
        margin-right: 82px;
        justify-content: space-between;
    }
    
    .menuname{
        padding: 0;
        margin: 0;
        font-size: 20px;
        color: #000000;
        font-family: 'Segoe UI';
        text-decoration: none;
    }

    .menuname::after{
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background-color: #808F85;
        transition: width .3s;
       }
       
       
       .menuname:hover::after{
           color: #808F85;
           width: 100%;
           transition: width .3s;
       }


       a:hover {
        color: #91c499;
    }
    
.title{
    padding:0;
    margin-top: 67px;
    font-family: 'Segoe UI';
    font-size:60px;
    color: #707070;
    display: flex;
    justify-content: center;
}

.nwscircle{
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.circle{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.name{
    font-family: 'Segoe UI';
    font-size:40px;
    color: #707070;
    display: flex;
    justify-content: center;
}

.cloud{
    margin-top: 25px;
    margin-left: 82px;
    position: absolute;
    z-index: 1;
}

.pictures{
    margin-top: 51px;
    margin-left: 123px;
    height: 168px;
    width: 522px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;

}

.seemore{ 
    margin-top: 273px;
    font-family: 'Segoe UI';
    font-size:14px;
    color: #707070;
    opacity: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
    
.top{
    margin-top: 50.5px;
    margin-left: 700px;
}

.bottom{
    margin-top: 20px;
    height: 98px;
    width: 768px;
    background-color: #595959;
}

.bottomcontent{
    padding-top: 35px;
    font-family: 'Segoe UI';
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
}